.container {
  width: 80%;
  margin: 30px auto 90px;
}

nav {
  display: block;
  margin-bottom: 100px;
  ul {
    float: right;
    li {
      display: inline-block;
      margin-left: 40px;
      a:link {
        text-decoration: none;
      }
    }
  }
}

table {
  width: 100%;
  background-color: $white;
  th {
    background-color: $darkgray;
    color: $black;
    text-align: left;
    padding: 5px 10px;
  }
  tr:nth-child(even) {
    background-color: $lightgray;
  }
  td {
    padding: 5px 10px;
  }
}

form {
  border: 1px solid black;
  p label {
    display: inline-block;
    width: 70px;
  }
}

footer {
  text-align: center;
  hr {
    margin-top: 60px;
  }
}





//
