// @import 'partials/globals';

.container {
  width: 85%;
  margin: 0 auto;
}

table {
  width: 75%;
  background-color: white;
  thead {
    background-color: $gray;
    text-align: left;
  }
  tr:nth-child(even) {
    background-color: $lightgray;
  }
  td {
    padding: 5px;
  }
}
